name: ci

on:
  push:
    branches:
      - 'master'

jobs:
  docker:
    runs-on: ubuntu-latest
    steps:
      -
        name: Set up QEMU
        uses: docker/setup-qemu-action@v1
      -
        name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v1
      -
        name: Login to DockerHub
        uses: docker/login-action@v1 
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}
      -
        name: Build and push
        uses: docker/build-push-action@v2
        with:
          push: true
          tags: erzez/reali-app:latest
  
  helm:
    name: 'Deploy Helm'
    runs-on: ubuntu-latest
    needs: docker
    steps:
     - uses: actions/checkout@v2

     - name: AWS Credentials
       uses: aws-actions/configure-aws-credentials@v1
       with:
        aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
        aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
        aws-region: us-east-1

     - name: helm deploy
       uses: koslib/helm-eks-action@master
       env:
        KUBE_CONFIG_DATA: ${{ secrets.KUBECONFIG }}
       with:
          command: helm upgrade monitoring --install --wait app-chart -f app-chart/values.yaml
